*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel-inner img {
    height:100%;
    width:100%;
}
.aboutimg  {
    height:55%;
    width:680px;
}
.card-img-top{
    height:55%;
    width:100px;
}